<?xml version="1.0" encoding="utf-8" ?>
<!--===============================================================================
    Copyright (C) 2007 Microsoft Corporation
    All rights reserved.
    THIS CODE AND INFORMATION IS PROVIDED "AS IS" WITHOUT WARRANTY
    OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING BUT NOT
    LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND/OR
    FITNESS FOR A PARTICULAR PURPOSE.
   ==============================================================================
-->
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
  <Product Id='{414638CA-D5ED-4C29-A675-56096DE37A27}'
			 Name='!(loc.Name)'
			 Language='!(loc.Language)'
			 Version='4.0.13.0611'
			 Manufacturer='Microsoft Corporation'
			 UpgradeCode='{AAB46EA0-1614-4109-A6C5-43696C05FEA2}'>
    <Package Id='*'
				 Description='!(loc.Description)'
				 Comments='!(loc.Comments)'
				 Keywords='!(loc.Keywords)'
				 Languages='!(loc.PackageLanguage)'
				 Manufacturer='Microsoft Corporation'
				 Platform='x86'
				 InstallerVersion='200'
         InstallPrivileges='elevated'  
				 Compressed='yes' />

    <FeatureRef Id='CommandLineFeature'/>
    <FeatureRef Id='VS2010IntegrationFeature'/>
    <FeatureRef Id='VS2012IntegrationFeature'/>

  </Product>
</Wix>
