<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Off, ActivityTracing" propagateActivity="true">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelTraceListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\rjarratt\Documents\Projects\VSTS Rangers\WCF Load Test\Main\Source\SampleClientAndService\Host\App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add initializeData="C:\Users\rjarratt\Documents\Projects\VSTS Rangers\WCF Load Test\Main\Source\SampleClientAndService\Host\App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
      <add type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="NewListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp, ProcessId, ThreadId, Callstack">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetaData">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="Buffered" transferMode="Buffered"/>
        <binding name="Streamed" transferMode="Streamed"/>
      </basicHttpBinding>
    </bindings>
    <services>

      <service behaviorConfiguration="MetaData" name="Logic.Arithmetic">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="" name="Basic" contract="Contracts.IArithmetic"/>
        <endpoint address="collections" binding="basicHttpBinding" name="Collections" contract="Contracts.ICollections"/>
        <endpoint address="bufferedStreams" binding="basicHttpBinding" bindingConfiguration="Buffered" name="BufferedStreams" contract="Contracts.IBufferedStreamService"/>
        <endpoint address="streamedStreams" binding="basicHttpBinding" bindingConfiguration="Streamed" name="StreamedStreams" contract="Contracts.IStreamedStreamService"/>
        <endpoint address="shape" binding="basicHttpBinding" name="Shape" contract="Contracts.IShapeService"/>
        <endpoint address="serviceknowntype" binding="basicHttpBinding" name="ServiceKnownType" contract="Contracts.IServiceKnownType"/>
        <endpoint address="shareprices" binding="wsDualHttpBinding" bindingConfiguration="" name="SharePrices" contract="Contracts.ISharePrices"/>
      </service>

      <service behaviorConfiguration="MetaData" name="Logic.DataSets">
        <endpoint address="datasets" binding="basicHttpBinding" bindingConfiguration="" name="DataSets" contract="Contracts.IDataSets"/>
      </service>

      <service behaviorConfiguration="MetaData" name="Logic.Custom">
        <endpoint address="Custom" binding="basicHttpBinding" name="Custom" contract="Contracts.Custom.ICustomContracts"/>
        <endpoint address="Custom2" binding="basicHttpBinding" name="Custom2" contract="Contracts.Custom.ICustomContracts2"/>
      </service>
      
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
