<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Library.Test.Integration.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="Buffered" transferMode="Buffered"/>
        <binding name="Streamed" transferMode="Streamed" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8081/arithmetic/basic" binding="basicHttpBinding"
    bindingConfiguration="" contract="GeneratedContracts.IArithmetic" name="GeneratedArithmetic" />
      <endpoint address="http://localhost:8081/arithmetic/collections"
    binding="basicHttpBinding" bindingConfiguration="" contract="GeneratedContracts.ICollections"
    name="GeneratedCollections" />
      <endpoint address="http://localhost:8081/arithmetic/shape"
     binding="basicHttpBinding" contract="GeneratedContracts.IShapeService"
     name="GeneratedShape" />
      <endpoint address="http://localhost:8081/arithmetic/bufferedStreams"
     binding="basicHttpBinding" bindingConfiguration="Buffered" contract="GeneratedContracts.IBufferedStreamService"
     name="GeneratedBufferedStreams" />
      <endpoint address="http://localhost:8081/arithmetic/streamedStreams"
     binding="basicHttpBinding" bindingConfiguration="Streamed" contract="GeneratedContracts.IStreamedStreamService"
     name="GeneratedStreamedStreams" />
      <endpoint address="http://localhost:8081/arithmetic/basic" binding="basicHttpBinding"
    bindingConfiguration="" contract="Contracts.IArithmetic" name="Arithmetic" />
      <endpoint address="http://localhost:8081/arithmetic/shape" binding="basicHttpBinding"
    bindingConfiguration="" contract="Contracts.IShapeService" name="Shape" />
      <endpoint address="http://localhost:8081/arithmetic/collections"
    binding="basicHttpBinding" bindingConfiguration="" contract="Contracts.ICollections"
    name="Collections" />
      <endpoint address="http://localhost:8081/arithmetic/bufferedStreams"
     binding="basicHttpBinding" bindingConfiguration="Buffered" contract="Contracts.IBufferedStreamService"
     name="BufferedStreams" />
      <endpoint address="http://localhost:8081/arithmetic/streamedStreams"
     binding="basicHttpBinding" bindingConfiguration="Streamed" contract="Contracts.IStreamedStreamService"
     name="StreamedStreams" />
      <endpoint address="http://localhost:8081/arithmetic/serviceknowntype"
     binding="basicHttpBinding" contract="Contracts.IServiceKnownType"
     name="ServiceKnownType" />
      <endpoint address="http://localhost:8081/arithmetic/serviceknowntype"
     binding="basicHttpBinding" contract="GeneratedContracts.IServiceKnownType"
     name="GeneratedServiceKnownType" />
      <endpoint address="http://localhost:8081/custom/custom"
      binding="basicHttpBinding"
      contract="Contracts.Custom.ICustomContracts"
      name="Custom" />
      <endpoint address="http://localhost:8081/custom/custom2"
      binding="basicHttpBinding"
      contract="Contracts.Custom.ICustomContracts2"
      name="Custom2" />
      <endpoint address="http://localhost:8082/TestAsmxService.asmx" binding="basicHttpBinding"
    bindingConfiguration="" contract="GeneratedContractsAsmx.TestAsmxServiceSoap" name="GeneratedAsmx" />

      <endpoint address="http://localhost:8081/arithmetic/shareprices"
        binding="wsDualHttpBinding" bindingConfiguration=""
        contract="GeneratedContracts.ISharePrices" name="GeneratedSharePrices" />

      <endpoint address="http://localhost:8081/arithmetic/shareprices"
     binding="wsDualHttpBinding" contract="Contracts.ISharePrices"
     name="SharePrices" />

      <endpoint address="http://localhost:8081/datasets/datasets"
        binding="basicHttpBinding" bindingConfiguration=""
        contract="GeneratedContracts.IDataSets" name="GeneratedDataSets" />

      <endpoint address="http://localhost:8081/datasets/datasets"
     binding="basicHttpBinding" contract="Contracts.IDataSets"
     name="DataSets" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Library.Test.Integration.Properties.Settings>
      <setting name="Microsoft_WcfUnit_Library_Test_Integration_AsmxServiceReference_TestAsmxService"
        serializeAs="String">
        <value>http://localhost:51254/TestAsmxService.asmx</value>
      </setting>
    </Library.Test.Integration.Properties.Settings>
  </applicationSettings>
</configuration>