<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type=""/>
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\Users\rjarratt\Documents\Projects\VSTS Rangers\WCF Load Test\Main\Source\SampleClientAndService\Client\App_messages.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <system.serviceModel>
    <!--bindings>
      <basicHttpBinding>
        <binding name="Basic" closeTimeout="00:01:00" openTimeout="00:01:00"
            receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
            bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
            maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
            messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
            useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
              maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
                realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings-->
    <bindings>
      <basicHttpBinding>
        <binding name="Buffered" transferMode="Buffered">
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="Streamed" transferMode="Streamed">
          <security>
            <transport>
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
          </security>
        </binding>
        <binding name="TestAsmxServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="">
              <extendedProtectionPolicy policyEnforcement="Never"/>
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
      <customBinding>
        <binding name="TestAsmxServiceSoap12">
          <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16" messageVersion="Soap12" writeEncoding="utf-8">
            <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          </textMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous" realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false" useDefaultWebProxy="true">
            <extendedProtectionPolicy policyEnforcement="Never"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false"/>
    </diagnostics>
    <client>
      <endpoint address="http://localhost:8081/arithmetic/basic" binding="basicHttpBinding" contract="GeneratedContracts.IArithmetic" name="Basic"/>
      <endpoint address="http://localhost:8081/arithmetic/collections" binding="basicHttpBinding" contract="GeneratedContracts.ICollections" name="Collections"/>
      <endpoint address="http://localhost:8081/arithmetic/shape" binding="basicHttpBinding" contract="GeneratedContracts.IShapeService" name="Shape"/>
      <endpoint address="http://localhost:8081/arithmetic/bufferedStreams" binding="basicHttpBinding" bindingConfiguration="Buffered" contract="GeneratedContracts.IBufferedStreamService" name="BufferedStreams"/>
      <endpoint address="http://localhost:8081/arithmetic/streamedStreams" binding="basicHttpBinding" bindingConfiguration="Streamed" contract="GeneratedContracts.IStreamedStreamService" name="StreamedStreams"/>
      <endpoint address="http://localhost:8081/arithmetic/serviceknowntype" binding="basicHttpBinding" contract="GeneratedContracts.IServiceKnownType" name="ServiceKnownType"/>
      <endpoint address="http://localhost:8081/custom/custom" binding="basicHttpBinding" contract="Contracts.Custom.ICustomContracts" name="Custom"/>
      <endpoint address="http://localhost:8081/custom/custom2" binding="basicHttpBinding" contract="Contracts.Custom.ICustomContracts2" name="Custom2"/>
      <endpoint address="http://localhost:8082/TestAsmxService.asmx" binding="basicHttpBinding" bindingConfiguration="TestAsmxServiceSoap" contract="GeneratedContractsAsmx.TestAsmxServiceSoap" name="TestAsmxServiceSoap"/>
      <endpoint address="http://localhost:8082/TestAsmxService.asmx" binding="customBinding" bindingConfiguration="TestAsmxServiceSoap12" contract="GeneratedContractsAsmx.TestAsmxServiceSoap" name="TestAsmxServiceSoap12"/>
      <endpoint address="http://localhost:8081/arithmetic/shareprices" binding="wsDualHttpBinding" bindingConfiguration="" contract="GeneratedContracts.ISharePrices" name="SharePrices"/>
      <endpoint address="http://localhost:8081/datasets/datasets" binding="basicHttpBinding" bindingConfiguration="" contract="GeneratedContracts.IDataSets" name="DataSets"/>
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Client.Properties.Settings>
      <setting name="Client_AsmxServiceReference_TestAsmxService" serializeAs="String">
        <value>http://localhost:8082/TestAsmxService.asmx</value>
      </setting>
    </Client.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
